body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* .navbar-col{
  background-color: pink;
} */
.button-cent{
  align-content: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-container {
  /* background: #c09f80;
  background: -webkit-linear-gradient(top left,#c09f80,#d7cec7);
  background: -moz-linear-gradient(top left,#c09f80,#d7cec7);
  background: linear-gradient(top left,#c09f80,#d7cec7); */
  width: 100%;
  height: 100vh;

}

.register-container {
  background: #C8C8C8;
  width: 100%;
  height: 100vh;

}
.login-card{
  /* box-shadow: 5px 5px 18px #E0E0E0; */
  background-color: #C8C8C8; 
  top: 25vh;
  /* margin-top: -55%; */
  /* position: static; */
 }

.login-title{
  /* font-family: 'Roboto', sans-serif; */
  color: #76323f;
  margin-bottom: 0.05%;
  font-size: 125%; 
  
}
.reset-title{
  color: #76323f;
  margin-bottom: 3%;
  font-size: 125%; 
}
.reset-title2{
  color: #76323f;
  margin-bottom: 0.05%;
  font-size: 125%; 
}

.login-input{
  width: 100%;
  border-radius: 7px;
}
.reset-input{
  width: 85%;
  margin-bottom: 2%;
  margin-top: 0;  
  border-radius: 7px
  
}
.reenter-input{
  width: 68%;
  margin-bottom: 2%;
  margin-top: 0;
  border-radius: 7px
}

/* .reset1-input{
  width: 100%;
  margin-top: 0.5%;
} */
.login-btn{
  width: 40%;
  background-color: #76323f;  
  color: white;
  border-radius: 20px;
 }
 .reset-btn{
  width:  62%;
  background-color: #76323f;  
  color: white;
  border-radius: 20px;  
 }
 .reenter-btn{
  /* width: 61.5%; */
  width: 50%;
  background-color: #76323f;  
  color: white;
  border-radius: 20px;
  
 }
  .register-btn{
  width: 10%;
  background-color: #76323f;  
  color: white;
  
  
  
 }
.login-link a:link{
  color: rgb(233, 236, 41);
  text-decoration: underline;
}
a:link {
 color: rgb(12, 12, 12);
}

.exam {
  border: 1px solid black;
  height: 350px;
  width: 800px;
  overflow-y: scroll;
}

.question p{
  margin: 0
}

.search-btn{
  width: 6%;
  height:34px;
  /* padding-right: 10%; */
  background-color: #76323f;  
  color: white;
  border-radius: 20px;
  margin-Left: 900px;
  /* margin-bottom: 20px */
 }
.login-link a:link{
  color: rgb(233, 236, 41);
  text-decoration: underline;
}
a:link {
 color: rgb(12, 12, 12);
}
.search-input{
  margin-bottom: 0px;
  padding: 0px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
}
.centralize-form{
  margin: 0 auto;
  /* margin-left: auto ;
  margin-right: auto ; */
  
 
}

.nav-head{
  margin-left: 8%;
  margin-bottom: 5%;
}
.right-nav{
  height: 100vh; 
 }
.user-data{
width: 100%;
height: 100%;
padding-top: 6%;
line-height: 1.5;
letter-spacing: 1px;
color: white;
}

.nav-courses{
  margin-left: 24%;
  font-size: 16px;
  margin-bottom:0;
  padding-bottom: 0;
  letter-spacing: 1px;
}
.nav-courses a:link{
  color: white;
}

.nav-prev-head{
  margin-left: 2%;
  letter-spacing: 1px;
  
}

.chat-online-status {
  height: 10px;
  width: 10px;
  background-color: rgb(68, 236, 68);
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px
}

.nav-sections{
  margin-left: 20%;
  font-size: 14px;
  letter-spacing: 1px;
  
}

.term-courses-nav{
  padding-right: 7%;
  padding-bottom: 7%;
  letter-spacing: 1px;
  
}

.nav-prev-courses{
  margin-left: 5%;
  letter-spacing: 1px;
  
  
}

.nav-prev-menu{
  height: 20vh;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden
}
.nav-term-menu{
  overflow: scroll;
  
}

.chat-contacts{
  height: 22vh;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden
}

.nav-search-box{
  margin-left: 9%;
  margin-bottom: 4%;
}

.chat-search-box{
  margin-left: 7%;
}

.nav-course-checkbox{  
  float: left;
  margin-left:16%; 
  margin-top: 0.75vh;
}

.chat-btn{
  background-color: #76323f;
  color: white;
  width: 200px
}

.chat-page{
  background-color: #76323f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(190, 188, 188); 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9e9e9; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 188, 188); 
}

.right-chat{
  position: fixed;
  bottom: 0;
  right: 0;
}

/* mouse over link */
a:hover {
  color: rgb(142, 142, 155);
  text-decoration: none;
}

/* selected link */
a{
  color: white;
}

.addwork{
  float: left;
  margin-right: 0.5vh;
  margin-top: 0.25vh;
  font-size: 2vh;
  color:#76323f;
  
  }
  .addwork1{
   float: right;
   margin-right: 5vh;
   margin-top: 0.25vh;
   font-size: 2vh;
   color:#76323f;
   
  }
  
  .addwork2{
   float: right;
   margin-top: 0.25vh;
   font-size: 2vh;
   margin-left: 108.5vh;
   /* margin-left: 110vh; */
   
   width:50vh;
  }
  .navstyle{
   float: right;
   margin-top: 0.25vh;
   font-size: 2vh;
   margin-left: 148vh;
   /* margin-left: 150vh; */
   
  }

  h1,h3,h4{
    font-family: 'Roboto', sans-serif;
    color: black;
  
  }
  h2{
    font-family: 'Roboto', sans-serif;
  }
  
  .addwork{
  float: left;
  margin-right: 0.5%;
  margin-top: 0.25%;
  font-size: 2%;
  color:#76323f;
  
  }
  .addwork1{
    float: right;
    margin-right: 5%;
    margin-top: 0.25%;
    font-size: 2%;
    color:#76323f;
  
    
    }
  
  th{
  
   background-color:#76323f;
   text-align: center;
   align-items: center;
   align-content:  center;
   font-size: 19px;
  
  }
  
  .radio-table{
  background-color: #e9e9e9;
  }
  ths{
    /* background-color:#8f8f8f; */
    text-align: center;
    align-items: center;
    align-content:  center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    
    margin-right: 1%;
  }
  
  
   td{
  
    font-size: 18px;
   }
  
   label{
   font-size: 17px;
    color: black;
   }
  
  /* button{
  
      width: 40%;
      background-color: #76323f;  
      color: white;
      border-radius: 20px;
     
  
  } */
  
  .edit-btn{
    width: 90%;
    background-color: #76323f;  
    color: white;
    border-radius: 20px;
  }
  
  
  body{
     background-color:#E9E9E9;
    height: 100%;
   
  }
  
   div.ex1 {
    height: 20%;
    overflow: scroll;
   
  }
  
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80%;
  }
  
  .App-header {
    background-color: #222;
    height: 150%;
    padding: 20%;
    color: white;
   
  }
  
  .App-title {
    font-size: 1.5em;
    
  }
  
  .App-intro {
    font-size: large;
  }
  
  
  .text-area1{
    height: 50;
    max-width: 100%;
    overflow-x: hidden;
    width: 73%;
    margin-left: 1.5%
  }
  .quiz-area{
    /* height:40vh;
    overflow:scroll;
    max-width:100%;
    overflow-x:hidden;
    border-width: 2vh;
    border-color: black;
    color:black;
    background-color:lightgray;
    padding:1vh */
    /* height: 10%; */
    overflow: scroll;
    max-width: 75%;
    overflow-x: hidden;
    width: 75%;
    height:500px;
    background-color:white;
    
  }
  .profile-btn{
    width: 7%;
    background-color: #76323f;  
    color: white;
    margin: 1%;
    /* margin-right: 1%;
    margin-top: 2%; */
    
   
   }
   .box1{
     border:1px solid black
   }
  
  .radio-mcq{
    width: 50px;
    height:100px;
    border: 1px solid blue;
  }
  
  .mcq-label{
    width: 30%;
    height: 30%;
    border: 1px solid red;
  }
  .mcq-radio-btn{
    width: 30%;
    height: 30%;
    border: 1px solid green;
  }
